.details-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    .container {
        display: flex;
        flex-direction: column;
        width: 70rem;
        margin-top: 1rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        height: 90%;
        border-radius: 1.5rem;
        overflow: hidden;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3),
            -3px -3px 5px rgba(0, 0, 0, 0.3);
        position: relative;
        padding: 0;

        .fundraiser-title {
            width: 80%;
            padding: 20px 40px 20px 40px;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
        }
        .fundraiser-photo {
            display: flex;
            justify-content: center;
            height: 30rem;
            width: 100%;

            .photo {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .fundraiser-info {
            display: flex;
            justify-content: space-between;
            padding: 0px 40px 20px 40px;
            width: 80%;

            .fundraiser-description {
                display: flex;
                flex-direction: column;
                width: 40%;
                padding: 0;
                .description-title {
                    font-size: 50px;
                    font-weight: bold;
                    // border-bottom: 1px solid;
                    margin: 0;
                    padding-bottom: 20px;
                }
                .description-text {
                    font-size: 20px;
                    font-weight: normal;
                    max-width: 100%;
                }
            }

            .fundraiser-donate {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 40%;
                height: 22rem;
                .first-text {
                    font-size: 40px;
                    font-weight: bold;
                    margin: 0;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .second-text {
                    font-size: 20px;
                    font-weight: normal;
                    align-items: center;
                }
                .progressBar {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    color: black;
                }
                .donators {
                    display: flex;
                    align-items: center;
                    margin: 0;
                }
                .form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .amountInput {
                        border-radius: 0.5rem;
                        height: 2rem;
                        width: 100%;
                        text-align: center;
                        font-size: 1.5rem;
                    }
                    .submitButton {
                        margin-top: 1rem;
                        width: 10rem;
                    }
                }
            }
        }
    }
}
