.item-wrapper {
    background-color: white;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    position: relative;

    &:hover {
        transform: scale(1.04);
    }
    &:hover img {
        transform: scale(1.04);
    }

    &:hover h1::after {
        transform: translateY(60%) scaleX(1);
    }

    img {
        height: 15rem;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
    }

    .countdown {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.575);
        width: 100%;
        padding: 0.3rem 0;
        font-weight: bold;
        z-index: 2;
        .the-end-is-near {
            color: rgb(194, 3, 3);
        }
    }

    .show-more-btn {
        position: absolute;
        right: 0;
        top: 42%;
        transform: translateX(3rem);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

    &:hover .show-more-btn {
        transform: translateX(-0.5rem);
    }

    .item {
        padding: 1.5rem;
        justify-content: center;
        align-items: center;

        h1 {
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;
            font-size: 1.6rem;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
            position: relative;
        }

        h1::after {
            position: absolute;
            content: "";
            width: 100%;
            transform: translateY(60%) scaleX(0);
            height: 0.11rem;
            background: black;
            bottom: 0;
            left: 0;
        }
        p {
            text-align: justify;
        }
    }
}

.card {
    width: 25rem;
    height: 31rem;
    position: relative;
    // background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    justify-content: center;
    align-items: center;
}
