.list-wrapper {
    display: flex;
    justify-content: center;
    .list {
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
}
