.round-btn {
    --bg-lightness: 1.4;

    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40000px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);

    // box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.2);

    // background: linear-gradient(
    //     68deg,
    //     rgba(58, 12, 163, 0.8) 0%,
    //     rgba(67, 97, 238, 0.8) 65%,
    //     rgba(76, 201, 240, 0.8) 89%
    // );
    background: linear-gradient(
        68deg,
        hsl(332.6, 92.9%, calc(55.7% * var(--bg-lightness))) 0%,
        hsl(276.2, 90.6%, calc(37.6% * var(--bg-lightness))) 50%,
        hsl(258.3, 86.3%, calc(34.3% * 1.2 * var(--bg-lightness))) 100%
    );

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(2);
    }
}
